doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    body
        div(class='navbar navbar-inverse navbar-fixed-top')
            div(class='container')
                div(class='collapse navbar-collapse')
                    ul(class='nav navbar-nav')
                        li
                            a(href='/') Home
                        li
                            a(href='/users') Users
                        if isGuest
                            li
                                a(href='/login') Login
                        else
                            li
                                a(href='/logout') Logout


        div(class='container')
            block content