extends layout
block content
    h1= title

    form(role='form', method='post', action='/login', class=)
        .form-group
            label(for='exampleInputEmail1') Username
            input#exampleInputEmail1.form-control(type='text',name='username', value=username, placeholder='Enter email')
        .form-group(class=loginFormClass)
            label(for='exampleInputPassword1') Password
            input#exampleInputPassword1.form-control(type='password',name='password', placeholder='Password')
        button.btn.btn-default(type='submit') Log-in