extends layout
block content
    h1= title
    table(class='table table-striped')
        thead
            th Username
            th Email
            th Password
        tbody
            each val, index in data
                tr
                    td= index
                    td= val.email
                    td= val.password
